* {
    margin: 0;
    padding: 0;
    font-family: system-ui;
}

#king {
    width: 100%;
    height: 653px;
}

.prince1 {
    width: 100%;
    height: 7%;
    background-color: rgb(87, 87, 255);
}

.userDiv {
    width: 100%;
    height: 100%;
}

.userDiv li {
    position: relative;
    right: 2%;
    font-size: 18px;
    color: white;
    padding-top: 10px;
    list-style: none;
    float: right;
}

.userDiv span {
    position: relative;
    bottom: 5px;
}

.userIcon {
    margin-right: 10px;
    font-size: 30px;
}

.prince2 {
    width: 100%;
    height: 100%;
    background-color: #f0f3ff;
    display: flex;
}

.sidebarDiv {
    width: 20%;
    height: 100%;
}

.sidebar {
    position: relative;
    top: 2.5%;
    left: 9%;
    width: 90%;
    height: 95%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.08);
}

.logo {
    width: 100%;
    height: 15%;
}

.logo img {
    width: 73%;
    height: 100%;
    position: relative;
    bottom: 0%;
    left: 12%;
}

.active {
    border-left: 2px solid rgb(85, 85, 255);
    background-color: #f0f3ff;
}

.navList {
    width: 100%;
    height: 50px;
}

.navIcon {
    position: relative;
    right: 5.5%;
    color: #494cff;
}

.navList span {
    position: relative;
    top : 20%;
    left: 20%;
    font-size: 16px;
    font-weight: 530;
    font-family: 'Rubik', sans-serif;
}

.navList span a {
    color: #494cff;
    text-decoration: none;
}

.navList:hover {
    background-color: rgb(231, 233, 255);
}

.contentDiv {
    width: 80%;
    height: 100%;
}

.annonceDiv {
    position: relative;
    top: 2.5%;
    left: 2.5%;
    width: 95%;
    height: 95%;
    background-color: transparent;
    border-radius: 10px;
    overflow-y: scroll;
}

.annonceDiv::-webkit-scrollbar {
    display: none;
}

.test {
    margin-bottom: 15px;
    background-color: white;
    width: 100%;
    height: 20%;
    border-radius: 10px;
}

.testName {
    width: 100%;
    height: 30%;
}

.testName span {
    position: relative;
    top: 18%;
}

.testName .name {
    margin-left: 30px;
    font-size: 18px;
    font-weight: 500;
    color: rgb(75, 75, 75);
}

.testName .sub {
    margin-left: 450px;
    color: #494cff;
}

.testInfo {
    width: 100%;
    height: 35%;
    border-bottom: 3px dashed #8486ff;
}

.testInfo span {
    position: relative;
    top: 20%;
    left: 37%;
    margin-left: 25px;
}

.start {
    width: 100%;
    height: 30%;
}

.start a {
    position: relative;
    top: 20%;
    left: 85%;
    text-decoration: none;
    color: #494cff;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}